body {
  background-color: rgb(141, 201, 198);
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin: 25px;
}

.title {
  font-size: 4vw;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

.container {
  max-width: 734px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 35px;
  margin: 40px auto;
  align-items: center;
}

.move-button {
  width: 100%;
  transition: width 0.15s;

}

.move-button:hover {
  width: 105%;
}
.move-icon {
  max-width: 100%;
  cursor: pointer;
}

.shadow {
  width: 100%;
}

.score, .result-box {
  font-size: 3vw;
  text-align: center;
  font-weight: bold;
  width: 30%;
  margin: 50px auto;
  border: 4px solid gray;
  padding: 20px;
}

.game-result {
  font-size: 3vw;
  text-align: center;
}

.result-box {
  width: 100%;
  border: none;
  font-size: 30px;
}